<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talinn Airport Departures Search</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

</head>
    <body>
        <h2>Search for AIRLINE and/or DESTINATION departure information (in JSON form) in the boxes below.</h2>
        <p>(Search will take a few seconds to complete)</p>
        <div>
            <form id="send-form" action="/departures/search" method="get">
                <label for="airline"><b>Airline: </b></label>
                <input id="airline" name="airline" type="text" placeholder="e.g. Finnair">
                </br>
                <label for="destination"><b>Destination: </b></label>
                <input id="destination" name="destination" type="text" placeholder="e.g. Helsinki">
                </br>
                <button id="search-button" onclick="$('#loading').show();">Search</button>
            </form>
            <br/>
        </div>
        </br>
        <div>
            <a href=departures><button onclick="$('#loading').show();">Get JSON of all current departures</button></a>
        </div>
        </br>
        <div id="loading" style="display:none;"><img src="static/animations/loading.gif" alt="" />Loading...</div>
    </body>
</html>