<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talinn Airport Departures Search</title>
</head>
    <body>
        <h2>Search for AIRLINE and/or DESTINATION departure information (in JSON form) in the boxes below.</h2>
        <div>
            <form id="send-form" action="#" method="post">
                <label for="send-airline-input"><b>Airline: </b></label>
                <input id="send-airline-input" type="text" placeholder="e.g. Finnair">
                </br>
                </br>
                <label for="send-destination-input"><b>Destination: </b></label>
                <input id="send-destination-input" type="text" placeholder="e.g. Helsinki">
                <br/>
                </br>
                <button id="search-airline">Search Airline</button>
                <button id="search-destination">Search Destination</button>
                <button id="search-both">Search Both</button>
            </form>
            <br/>
        </div>
        <div>
            <button>Get current JSON of all departures information</button>
        </div>

        <script>
        </script>
    </body>
</html>